@import '@/styles/var';

.Home {
	background-color: $lightest;
	padding: $xl;
	scroll-snap-align: start;
	transition: background-color 0.5s ease-in-out;
}

.container {
	display: flex;
	flex-direction: row;
	max-width: 1250px;

	@media screen and (max-width: $breakpoint-tablet-lg) {
		& {
			flex-direction: column-reverse;
			justify-content: center;
		}
	}
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: $xxl;
	line-height: 1.2;
	text-align: center;
	margin: $s 0 $xxs;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			font-size: $l;
			margin-bottom: 0.5rem;
		}
	}
}

.paragraph {
	color: $off-black;
	font-size: $m;
	line-height: 1.5;
	margin-bottom: $s;
	max-width: 75%;
	text-align: center;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			font-size: $s;
			max-width: none;
			padding: 2%;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: 1.4rem;
		}
	}
}

.avatar {
	background: $white;
	border-radius: 100%;
	box-shadow: 1px 1px 1px 0 $shadow;
	transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
	width: 300px;

	@media screen and (max-width: $breakpoint-tablet-lg) {
		& {
			width: 200px;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			width: 150px;
		}
	}
}

.dark {
	.Home {
		background-color: $d-lightest;
	}

	.title {
		color: $off-white;
	}

	.paragraph {
		color: $off-white;
	}

	.avatar {
		background-color: $light-blue-grey;
		box-shadow: 1px 1px 1px 0 $d-shadow;
	}
}
