@import '@/styles/var';

.Projects {
	background-color: $dark;
	display: flex;
	scroll-snap-align: start;
	scroll-padding: 100px;
	transition: background-color 0.5s ease-in-out;
}

.projectsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 850px;

	.buttonContainer {
		width: 50px;
		height: 50px;
	}

	.pageBtn {
		background: none;
		border: none;
		color: #00000057;
		cursor: pointer;
		font-size: 1.8rem;
		width: 100%;
		height: 100%;

		&:hover {
			color: #000000a8;
		}
	}
}

.projects {
	display: flex;
	flex-direction: row;
	margin: auto;
	overflow: hidden;
	width: 700px;

	.projectContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: 100%;
		width: 100%;
		transition: transform 0.5s ease-in-out;

		&.translateLeft {
			transform: translateX(0);
		}

		&.translateRight {
			transform: translateX(-700px);
		}
	}
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: 2.5rem;
	line-height: 1.2;
	margin-bottom: 1.2rem;
	text-align: center;
}

.dark {
	.Projects {
		background-color: $d-dark;
	}

	.title,
	p {
		color: $white;
	}

	.pageBtn {
		color: $off-white;

		&:hover {
			color: $dark-grey;
		}
	}
}
