@import '@/styles/var';

.MobileCarousel {
	width: 100%;
	padding-bottom: 36px;

	:global(.slick-slider),
	:global(.slick-list),
	:global(.slick-track) {
		display: block;
	}

	:global(.slick-list) {
		overflow: hidden;
	}

	:global(.slick-slide) > div {
		display: block;
		padding: 0 11px;
		text-align: left;
		
		@media screen and (max-width: $breakpoint-tablet-lg) {
			& {
				padding: 0 6px;
			}
		}
	}

	:global(.slick-slide.slick-active) > div > div {
		padding-top: 10px;
	}

	:global(.slick-prev),
	:global(.slick-next) {

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $off-black;
			font-size: 30px;
			line-height: 1;
			opacity: 1;
		}
	}

	:global(.slick-prev) {
		left: -44px;
	}

	:global(.slick-next) {
		right: -44px;
	}

	&.dark {
		:global(.slick-prev),
		:global(.slick-next) {
			&::before {
				color: $blue-grey;
			}
		}
	}

	:global(.slick-dots) {
		bottom: -26px;

		li button::before {
			font-size: 8px;
			color: #b9ab9b;
			opacity: 1;
		}

		li.slick-active button::before {
			color: #6f6457;
			opacity: 1;
		}
	}
}
