@import '@/styles/var';

.ProjectCard {
	align-items: flex-start;
	background-color: $white;
	border-radius: 6px;
	box-shadow: 1px 1px 1px 0 $shadow;
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	padding: 1rem;
	width: 400px;
	color: $off-black;

	.infoColumn {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		height: 200px;
		justify-content: space-between;

		.info {
			align-items: flex-start;
		}

		.overline {
			color: $d-light;
			font-size: 0.8rem;
			font-weight: 900;
			text-align: left;
			text-transform: uppercase;
		}

		.title {
			font-family: 'Libre Franklin', sans-serif;
			font-size: $xs;
			font-weight: 400;
			line-height: 1.2;
			margin: 0.2rem 0;
			text-align: left;
		}

		.description {
			font-family: 'Libre Franklin', sans-serif;
			font-size: $xxs;
			font-weight: 200;
			line-height: 1.2;
			margin-bottom: 1rem;
			text-align: left;
		}

		.buttonGroup {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			.button {
				border-radius: 6px;
				color: $blue-grey;
				font-size: $xxs;
				height: unset;
				margin-right: 0.5rem;
				padding: 0.5rem;
				text-decoration: none;
				width: unset;

				&:hover {
					color: $darker-grey;
				}
			}

			:last-child {
				margin-right: 0;
			}
		}
	}

	.imageContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		img {
			border-radius: 6px;
			height: 100px;
			width: 100px;
		}
	}
}
