@import '@/styles/var';

.Experience {
	flex-direction: column;
	align-items: unset;
	color: $off-black;
	display: flex;
}

.subtitle {
	color: $d-light;
	font-size: 0.8rem;
}

.summary {
	font-size: 0.85rem;
	padding: 0.5rem 0 0 $xxs;

	li {
		padding-bottom: 0.2rem;
		list-style: circle;
	}
}

.dark {
	.Experience,
	.subtitle,
	.summary {
		color: $off-white;
	}
}
