// common
$off-white: #e8e8e8;
$white: #fff;
$off-black: #393939;
$black: #000;

// light mode
$lightest: #f1ecea;
$light: #ebe1dc;
$medium: #e2d3cc;
$dark: #d9c6bc;
$darkest: #d0b8ac;
$shadow: #bda89f;

// dark mode
$d-lightest: #36364c;
$d-light: #313146;
$d-medium: #2c2c3f;
$d-dark: #272738;
$d-darkest: #222231;
$d-shadow: #14141d;

// greys
$darker-grey: #6c6c80;
$dark-grey: #7e7e95;
$light-grey: #c8c8c8;
$lighter-grey: #e7e7e7;
$blue-grey: #414157;

// sizes
$xxxs: 0.4rem;
$xxs: 1rem;
$xs: 1.2rem;
$s: 1.5rem;
$m: 1.8rem;
$l: 2rem;
$xl: 3rem;
$xxl: 3.2rem;
$xxxl: 4rem;

// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-lg: 900px;
$breakpoint-desktop: 1024px;

// nav
$nav-height: 55px;

// statuses
$success: #9fd1ae;
$error-light: #c16c6c;
$error: #c15b5b;
