// common
$off-white: #e8e8e8;
$white: #fff;
$off-black: #393939;
$black: #000;

// light mode
$lightest: #f1ecea;
$light: #ece3df;
$medium: #e6dad4;
$dark: #e0d1c9;
$darkest: #dac7be;
$shadow: #b6a49c;

$lightest-nav: rgba($lightest, 0.9);
$light-nav: rgba($light, 0.9);
$medium-nav: rgba($medium, 0.9);
$dark-nav: rgba($dark, 0.9);
$darkest-nav: rgba($darkest, 0.9);

// dark mode
$d-lightest: #424250;
$d-light: #494958;
$d-medium: #3b3b48;
$d-dark: #383844;
$d-darkest: #343440;
$d-shadow: #25252e;

$d-lightest-nav: rgba($d-lightest, 0.9);
$d-light-nav: rgba($d-light, 0.9);
$d-medium-nav: rgba($d-medium, 0.9);
$d-dark-nav: rgba($d-dark, 0.9);
$d-darkest-nav: rgba($d-darkest, 0.9);

// greys
$darker-grey: #6c6c80;
$dark-grey: #7e7e95;
$light-grey: #c8c8c8;
$lighter-grey: #e7e7e7;
$blue-grey: #4f4f5e;

// sizes
$xxxs: 0.4rem;
$xxs: 1rem;
$xs: 1.2rem;
$s: 1.5rem;
$m: 1.8rem;
$l: 2rem;
$xl: 3rem;
$xxl: 3.2rem;
$xxxl: 4rem;

// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-lg: 900px;
$breakpoint-desktop: 1024px;

// nav
$nav-height: 55px;

// statuses
$success: #9fd1ae;
$error-light: #c16c6c;
$error: #c15b5b;
