// common
$white: #fff;
$black: #000;

// light mode
$grey: #ccc;
$dark-grey: #333;
$light-grey: #eee;

// dark mode
$dark: #222;
$light: #444;

// sizes
$xxxs: 0.4rem;
$xxs: 1rem;
$xs: 1.2rem;
$s: 1.5rem;
$m: 1.8rem;
$l: 2rem;
$xl: 3rem;
$xxl: 3.2rem;
$xxxl: 4rem;

// breakpoints
$breakpoint-mini: 480px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1024px;

// nav
$nav-height: 55px;
