@import './var';

.About {
	background-color: $light;
	scroll-snap-align: start;
	transition: background-color 0.5s ease-in-out;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	max-width: 1250px;

	.row:nth-last-child(2) {
		.polaroid p {
			bottom: -28px;
			line-height: 1;
			font-size: 0.8rem;
		}
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			flex-direction: column-reverse;
			justify-content: center;
		}
	}
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: 2.5rem;
	line-height: 1.2;
	text-align: center;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			font-size: 2.2rem;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			font-size: 2rem;
		}
	}
}

.paragraph {
	color: $off-black;
	font-size: 1.2rem;
	line-height: 1.5;
	margin: 0.8rem 4rem 0;
	max-width: 525px;

	&:first-of-type {
		margin-top: 1rem;
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			font-size: 1.1rem;
			line-height: 1.3;
			margin: 0;
			max-width: 468px;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			max-width: 54%;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			font-size: 1rem;
			max-width: 85%;
		}
	}
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	&:nth-of-type(3) {
		flex-direction: row-reverse;

		.polaroid {
			-webkit-transform: rotate(2.5deg);
			-moz-transform: rotate(2.5deg);
			transform: rotate(2.5deg);
		}
	}
}

.mobileRowContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mobileRow {
	.polaroid {
		border-bottom: 30px solid $off-white;
		border-left: 10px solid $off-white;
		border-right: 10px solid $off-white;
		border-top: 10px solid $off-white;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
		display: block;
		height: auto;
		position: relative;
		max-width: 120px;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;

		p {
			bottom: -22px;
		}

		@media screen and (min-width: ($breakpoint-mini + 1)) {
			& {
				display: none;
			}
		}
	}
}

.polaroid {
	border-bottom: 30px solid $off-white;
	border-left: 10px solid $off-white;
	border-right: 10px solid $off-white;
	border-top: 10px solid $off-white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
	height: auto;
	position: relative;
	max-width: 150px;
	-webkit-transform: rotate(-2.5deg);
	-moz-transform: rotate(-2.5deg);
	transform: rotate(-2.5deg);

	@media screen and (min-width: ($breakpoint-tablet + 1)) {
		display: none;
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			max-width: 125px;
		}
	}

	@media screen and (max-width: ($breakpoint-mini)) {
		& {
			display: none;
		}
	}
}

.dark {
	.About {
		background-color: $d-medium;
	}

	.title {
		color: $off-white;
	}

	.paragraph {
		color: $off-white;
	}

	.image {
		box-shadow: 1px 1px 5px $d-shadow;
	}
}
