@import './var';

.About {
	background-color: $light;
	display: flex;
	flex-direction: row-reverse;
	scroll-snap-align: start;
	transition: background-color 0.5s ease-in-out;
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: $xxl;
	line-height: 1.2;
	text-align: center;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $l;
		}
	}
}

.paragraph {
	color: $off-black;
	font-size: $s;
	line-height: 1.5;
	margin: 0 0 $xxs;
	max-width: 75%;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $xs;
			max-width: none;
			padding: 4% 10%;
			text-align: justify;
		}
	}
}

.image {
	border-radius: 30px;
	box-shadow: 1px 1px 5px $shadow;
	height: 55vh;
	margin: auto 8%;
	width: auto;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			display: none;
		}
	}
}

.dark {
	.About {
		background-color: $d-medium;
	}

	.title {
		color: $off-white;
	}

	.paragraph {
		color: $off-white;
	}

	.image {
		box-shadow: 1px 1px 5px $d-shadow;
	}
}
