.About {
	background-color: rgb(103, 83, 83);
	display: flex;
}

.title {
	font-family: 'DM Serif Display', serif;
	line-height: 1.2;
	font-size: 3.2rem;
	text-align: center;
}

.paragraph {
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 0 0 1.5rem;
	max-width: 75%;
}
