@import './var';

.contactContainer {
	background-color: $dark;
	transition: background-color 0.5s ease-in-out;
}

.Contact {
	display: flex;
	margin: 0 auto;
	max-width: 950px;
	scroll-snap-align: start;

	@media screen and (max-width: $breakpoint-desktop) {
		& {
			max-width: 800px;
		}
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			flex-direction: column;
			justify-content: center;
			max-width: 720px;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			max-width: 90%;
		}
	}
}

.titleContainer {
	align-items: start;
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: $xxl;
	line-height: 1.2;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $l;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			font-size: $m;
		}
	}
}

.paragraph {
	color: $off-black;
	font-size: $xs;
	line-height: 1.5;
	margin: 0 auto 0 0;
	width: 85%;
	padding: 1rem 0 0.4rem;

	br {
		display: block;
		content: '';
		margin-top: 0.8rem;
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			width: 100%;
			margin: 0;
		}

		br {
			display: none;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			line-height: 1.2;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			font-size: 1.4rem;
			padding: 0.8rem 0;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			line-height: 1.2;
			font-size: 1.1rem;
		}
	}
}

.list {
	font-size: 1rem;
	padding-left: 1rem;

	li {
		line-height: 1.4;
		color: $blue-grey;
		list-style: circle;

		a {
			color: $blue-grey;
			cursor: pointer;
			transition: color 0.2s ease-in-out;

			&:hover {
				color: $darker-grey;
			}
		}
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			display: none;
		}
	}
}

.mobileLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	width: 100%;

	a {
		color: $blue-grey;
		cursor: pointer;
		margin: 0 0.5rem;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: $darker-grey;
		}
	}

	@media screen and (min-width: ($breakpoint-tablet + 1)) {
		& {
			display: none;
		}
	}
}

.reachOutText {
	@media screen and (max-width: $breakpoint-tablet) {
		& {
			display: none;
		}
	}
}

.dark {
	&.contactContainer {
		background-color: $d-darkest;
	}

	.title {
		color: $off-white;
	}

	.paragraph {
		color: $off-white;
	}
}
