@import './var';

.Experiences {
	background-color: $medium;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
	scroll-padding: 100px;
	transition: background-color 0.5s ease-in-out;
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: $l;
	text-align: center;

	@media screen and (max-width: $breakpoint-tablet-lg) {
		& {
			font-size: 2rem;
		}
	}
}

.experienceContainer {
	margin: 2rem auto 0;
	width: 1000px;

	@media screen and (max-width: $breakpoint-desktop) {
		& {
			width: 90%;
		}
	}

	@media screen and (max-width: $breakpoint-tablet-lg) {
		& {
			height: 70vh;
		}
	}
}

.dark {
	.Experiences {
		background-color: $d-medium;
	}

	.title {
		color: $off-white;
	}
}
