@import './var';

.Experience {
	background-color: $medium;
	display: flex;
	scroll-snap-align: start;
	scroll-padding: 100px;
	transition: background-color 0.5s ease-in-out;
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: $xxl;
	line-height: 1.2;
	text-align: center;

	@media screen and (max-width: $breakpoint-tablet-lg) {
		& {
			font-size: 2.2rem;
		}
	}
}

.container {
	width: 65%;
}

.experienceContainer {
	margin: 1.5rem auto 0;
	max-width: 940px;
}

.experienceSection {
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 900px;

	@media screen and (max-width: $breakpoint-tablet) {
		flex-direction: column;
		justify-content: center;
		align-items: unset;
		width: 100%;
	}
}

.experienceTitle {
	width: 100px;
	text-transform: uppercase;
	font-size: 1rem;
	color: $off-black;
	margin-bottom: 1.2rem;
}

.jobList {
	width: 40%;

	@media screen and (max-width: $breakpoint-tablet) {
		width: 100%;
	}
}

.job {
	align-items: flex-start;
	color: $off-black;
	margin-bottom: 1rem;
}

.companyName,
.jobTitle {
	padding-bottom: 0.7rem;
}

.companyName {
	font-size: 1.3rem;
}

.jobDates {
	font-style: italic;
}

.jobDates,
.jobTitle {
	color: $d-medium;
}

.dark {
	.Experience {
		background-color: $d-medium;
	}

	.experienceTitle,
	.title,
	.job,
	.jobDates,
	.jobTitle {
		color: $off-white;
	}
}
