@import './_var.scss';

.Home {
	background-color: $grey;
	padding: $xl;
	display: flex;
	scroll-snap-align: start;
}

.title {
	font-family: 'DM Serif Display', serif;
	line-height: 1.2;
	font-size: $xxl;
	text-align: center;
}

.paragraph {
	font-size: $m;
	line-height: 1.5;
	margin: 0 0 $s;
	max-width: 75%;
	text-align: center;
}

.avatar {
	width: 48%;
	border-radius: 100%;
	background: $white;
}
