@import './_var.scss';

.Home {
	background-color: $lightest;
	padding: $xl;
	display: flex;
	scroll-snap-align: start;
	transition: background-color 0.5s ease-in-out;
}

.title {
	font-family: 'DM Serif Display', serif;
	line-height: 1.2;
	font-size: $xxl;
	text-align: center;
	color: $off-black;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $l;
		}
	}
}

.paragraph {
	font-size: $m;
	line-height: 1.5;
	margin: 0 0 $s;
	max-width: 75%;
	text-align: center;
	color: $off-black;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $s;
			max-width: none;
			padding: 4%;
		}
	}
}

.avatar {
	width: 48%;
	border-radius: 100%;
	background: $white;
	transition: background 0.5s ease-in-out;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			width: 35%;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			width: 45%;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			width: 55%;
		}
	}
}

.dark {
	.Home {
		background-color: $d-light;
	}

	.title {
		color: $off-white;
	}

	.paragraph {
		color: $off-white;
	}

	.avatar {
		background-color: #414157;
	}
}
