@import './var';

.Home {
	background-color: $lightest;
	display: flex;
	padding: $xl;
	scroll-snap-align: start;
	transition: background-color 0.5s ease-in-out;
	justify-content: center;
}

.title {
	color: $off-black;
	font-family: 'DM Serif Display', serif;
	font-size: $xxl;
	line-height: 1.2;
	text-align: center;
	margin-top: 1.5rem;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $l;
		}
	}
}

.paragraph {
	color: $off-black;
	font-size: $m;
	line-height: 1.5;
	margin-bottom: $s;
	max-width: 75%;
	text-align: center;

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			font-size: $s;
			max-width: none;
			padding: 2%;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			font-size: 1.4rem;
		}
	}
}

.avatar {
	background: $white;
	border-radius: 100%;
	box-shadow: 1px 1px 5px $shadow;
	transition: background 0.5s ease-in-out;
	width: 300px;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			width: 200px;
		}
	}

	@media screen and (max-width: $breakpoint-mini) {
		& {
			width: 150px;
		}
	}
}

.dark {
	.Home {
		background-color: $d-light;
	}

	.title {
		color: $off-white;
	}

	.paragraph {
		color: $off-white;
	}

	.avatar {
		background-color: $blue-grey;
		box-shadow: 1px 1px 5px $d-shadow;
	}
}
