@import './_var.scss';

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	padding: $xs 0;
	color: $off-black;
	background-color: $darkest;
	max-height: $nav-height;
}

nav span {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: $xxs;
	padding-bottom: $xxxs;
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid $off-white;
}

nav span.activeClass {
	border-bottom-color: $off-black;
}
