@import './_var.scss';

.Nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	padding: $xs 0;
	max-height: $nav-height;
	transition: background-color 0.5s ease-in-out;
}

.Nav.Home {
	background-color: $lightest;
}

.Nav.About {
	background-color: $light;
}

.Nav.Projects {
	background-color: $medium;
}

.Nav.Contact {
	background-color: $dark;
}

.Nav button {
	color: $off-black;
	border: none;
	background: none;
	font-size: $xxs;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: $xxs;
	padding-bottom: $xxxs;
}

.Nav button:nth-last-child(2) {
	margin-right: 0.5rem;
}

.Nav button:hover {
	cursor: pointer;
	border-bottom: 1px solid $dark-grey;
}

.Nav button.activeClass {
	border-bottom-color: $off-black;
}

.dark {
	&.Nav.Home {
		background-color: $d-light;
	}

	&.Nav.About {
		background-color: $d-medium;
	}

	&.Nav.Projects {
		background-color: $d-dark;
	}

	&.Nav.Contact {
		background-color: $d-darkest;
	}

	&.Nav button {
		color: $off-white;
	}

	&.Nav button:hover {
		cursor: pointer;
		border-bottom: 1px solid $light-grey;
	}

	&.Nav button.activeClass {
		border-bottom-color: $off-white;
	}
}
