@import './var';

.image {
	border-bottom: 30px solid white;
	border-left: 8px solid white;
	border-right: 8px solid white;
	border-top: 8px solid white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
	height: auto;
	position: absolute;
	transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out,
		z-index 0.3s ease-in-out;
	width: 200px;

	&:hover {
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
		width: 250px;
		z-index: 5;
	}

	&:nth-child(1) {
		-webkit-transform: rotate(1.5deg);
		-moz-transform: rotate(1.5deg);
		bottom: -65px;
		transform: rotate(1.5deg);
	}

	&:nth-child(2) {
		-webkit-transform: rotate(3.5deg);
		-moz-transform: rotate(3.5deg);
		right: 55px;
		top: -10px;
		transform: rotate(3.5deg);
	}

	&:nth-child(3) {
		-webkit-transform: rotate(-2.5deg);
		-moz-transform: rotate(-2.5deg);
		left: 55px;
		top: 10px;
		transform: rotate(-2.5deg);
	}
}
