@import './var';

.image {
	width: 100%;
	height: auto;
}

.imageShadow {
	box-shadow: inset 0px 0px 4px 0 rgb(0 0 0 / 60%);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.displayText {
	bottom: -28px;
	color: $off-black;
	font-family: 'Permanent Marker';
	font-size: 1.2rem;
	font-weight: 600;
	max-width: 150px;
	position: absolute;
	text-align: center;
	width: 100%;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			font-size: 1rem;
		}
	}
}
