@import './var';

.ProjectCard {
	justify-content: flex-end;
	height: 175px;
	width: 450px;
}

.cardContent {
	width: 100%;
	height: auto;
}

.projectTitle {
	font-size: 1.2rem;
	padding: 0;
}

.projectButton {
	margin-left: 0.5rem;
}

.projectInfo {
	align-items: flex-start;
	height: 180px;
	justify-content: space-between;
	padding: 0.2rem 1rem 0 0;
}

.projectLinks {
	align-items: flex-start;
	flex-direction: row;
	justify-content: flex-end;
}

.projectLink {
	color: $blue-grey;
	cursor: pointer;
	padding-right: 0.8rem;

	&:hover {
		color: $darker-grey;
		transition: color 0.2s ease-in-out;
	}

	&:last-child {
		padding: 0;
	}
}

.projectTools {
	flex-direction: row;
	flex-wrap: wrap;

	span {
		padding-right: 0.8rem;

		&:last-child {
			padding: 0;
		}
	}
}

// .dark {
// 	&.ProjectCard {
// 		box-shadow: 1px 1px 1px 0 $d-shadow;
// 	}
// }
