@import './_var.scss';

.Projects {
	background-color: $medium;
	display: flex;
	scroll-snap-align: start;
	scroll-padding: 100px;
}

.title {
	font-family: 'DM Serif Display', serif;
	line-height: 1.2;
	font-size: $xxl;
	text-align: center;
	color: $off-black;
}
