@import './var';

.ProjectCard {
	background: $white;
	border-radius: 6px;
	box-shadow: 1px 1px 1px 0 $shadow;
	justify-content: flex-end;
	height: 175px;
	margin: 1rem;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.projectImage {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.cardContent {
	width: 100%;
	height: auto;
}

.projectTitle {
	font-size: 1.2rem;
	padding: 0;
}

.projectButton {
	margin-left: 0.5rem;
}

.projectInfo {
	align-items: flex-start;
	height: 180px;
	padding: 1rem;
	opacity: 0;
	backdrop-filter: blur(8px);
	transition: opacity 0.3s ease-in-out;
	background: rgb(255 255 255 / 47%);

	&:hover {
		opacity: 1;
		z-index: 10;
	}
}

.projectLinks {
	align-items: start;
	flex-direction: row;
}

.projectTools {
	flex-direction: row;
	flex-wrap: wrap;
}

.dark {
	&.ProjectCard {
		box-shadow: 1px 1px 1px 0 $d-shadow;
	}
}
