@import './var';

.ProjectCard {
	background-color: $white;
	border-radius: 6px;
	padding: 1rem;
	box-shadow: 1px 1px 1px 0 $shadow;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	.infoColumn {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.overline {
			text-transform: uppercase;
			font-size: $xxxs;
			text-align: left;
		}

		.title {
			font-size: $xs;
			font-family: 'Libre Franklin', serif;
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: 0.2rem;
			text-align: left;
		}

		.description {
			font-size: $xxs;
			font-family: 'Libre Franklin', serif;
			font-weight: 200;
			line-height: 1.2;
			text-align: left;
			margin-bottom: 1rem;
		}

		.buttonGroup {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			.button {
				border-radius: 6px;
				background-color: $medium;
				font-size: $xxs;
				color: $light-blue-grey;
				width: unset;
				height: unset;
				padding: 0.5rem;
				margin-right: 0.5rem;
			}

			:last-child {
				margin-right: 0;
			}
		}
	}

	.imageContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		img {
			width: 100px;
			height: 100px;
			border-radius: 6px;
		}
	}
}
