@import './var';

.dotNav {
	bottom: 0;
	display: block;
	height: 50%;
	position: fixed;
	right: 1%;
	top: 45%;

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			display: none;
		}
	}
}

.dotNav ul {
	display: inline-block;
	line-height: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

.dotNav li {
	background-color: #9e9e9e;
	border-radius: 25px;
	height: 0.6rem;
	list-style: none;
	margin: 10px 0;
	position: relative;
	width: 0.6rem;

	&.active {
		background-color: $white;
		transition: ease-in-out 0.4s;
		transition-property: background-color;
	}
}
