@import '@/styles/var';

.Skill {
	background-color: $white;
	border-radius: 9px;
	box-shadow: 0 6px 12px -6px rgba(60, 48, 33, 0.4);
	color: $off-black;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.04em;
	padding: 11px 18px;
	text-align: center;
	text-transform: uppercase;
	width: fit-content;

	&.dark {
		color: $off-white;
		background-color: $light-blue-grey;
		box-shadow: 1px 1px 1px 0 $d-shadow;
	}
}
