@import '@/styles/var';

.Snackbar {
	align-items: center;
	border-radius: 6px;
	bottom: $xxs;
	box-shadow: 1px 1px 1px 0px $shadow;
	color: $off-black;
	display: flex;
	flex-direction: row;
	font-size: $xs;
	justify-content: space-evenly;
	left: 50%;
	padding: $xs 0 $xxs;
	position: fixed;
	text-align: center;
	transform: translateX(-50%);
	width: 500px;
	z-index: 100;

	&.success {
		background: $success;
	}

	&.error {
		background: $error-light;
		color: $off-white;
	}

	@media screen and (max-width: $breakpoint-tablet-lg) {
		& {
			width: 100%;
			border-radius: unset;
			bottom: 0;
			box-shadow: -1px -1px 1px 0px $shadow;
			font-size: 15px;
		}
	}
}

.closeButton {
	background: none;
	border: none;
	opacity: 0.8;
	cursor: pointer;
	font-size: 1.4rem;
	position: fixed;
	top: $xs;
	right: $xs;

	&.success {
		color: $off-black;
	}

	&.error {
		color: $off-white;
	}
}

.closeButton:hover {
	cursor: pointer;
	color: $darker-grey;
}

.dark {
	&.Snackbar {
		box-shadow: 1px 1px 1px 0px $d-shadow;
	}
}
