.Home {
	background-color: beige;
	padding: 2rem;
	display: flex;
}

.paragraph {
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 0 0 1.5rem;
	color: red;
	max-width: 75%;
}

.avatar {
	max-width: 75%;
	border-radius: 100%;
	background: white;
}
