@import '@/styles/var';

.PolaroidStack {
	max-width: 500px;
	position: relative;

	@media screen and (max-width: $breakpoint-tablet-lg) {
		display: none;
	}
}

.polaroid {
	border-bottom: 45px solid $white;
	border-left: 12px solid $white;
	border-right: 12px solid $white;
	border-top: 12px solid $white;
	box-shadow: 1px 1px 1px 0 $shadow;
	height: auto;
	position: absolute;
	transition: box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out,
		transform 0.3s ease-in-out, width 0.3s ease-in-out, z-index 0.3s ease-in-out;
	width: 200px;

	&:hover {
		box-shadow: 15px 15px 10px 0 rgba($black, 0.15);
		transform: none !important;
		width: 250px;
		z-index: 5;
	}

	&:nth-child(1) {
		-webkit-transform: rotate(1.5deg);
		-moz-transform: rotate(1.5deg);
		bottom: -65px;
		transform: rotate(1.5deg);
	}

	&:nth-child(2) {
		-webkit-transform: rotate(3.5deg);
		-moz-transform: rotate(3.5deg);
		right: 55px;
		top: -10px;
		transform: rotate(3.5deg);

		p {
			bottom: -36px;
		}
	}

	&:nth-child(3) {
		-webkit-transform: rotate(-5.5deg);
		-moz-transform: rotate(-5.5deg);
		left: 55px;
		top: 10px;
		transform: rotate(-5.5deg);
	}
}

.dark {
	.polaroid {
		box-shadow: 1px 1px 1px 0 $d-shadow;

		&:hover {
			box-shadow: 15px 15px 10px 0 rgba($black, 0.15);
		}
	}
}
