@import '@/styles/var';

.Nav {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	max-height: $nav-height;
	padding: $xs 0;
	position: sticky;
	top: 0;
	transition: background-color 0.5s ease-in-out;
	width: 100%;
	z-index: 1000;

	@media screen and (max-width: $breakpoint-tablet) {
		display: none;
	}
}

.Nav.Home {
	background-color: $lightest;
}

.Nav.About {
	background-color: $light;
}

.Nav.Experience {
	background-color: $medium;
}

.Nav.Projects {
	background-color: $dark;
}

.Nav.Contact {
	background-color: $darkest;
}

.Nav button {
	color: $off-black;
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	font-size: $xxs;
	margin: $xxs;
	padding-bottom: $xxxs;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
}

.Nav button:nth-last-child(2) {
	margin-right: 0.5rem;
}

.Nav button:hover {
	cursor: pointer;
	border-bottom: 1px solid $dark-grey;
}

.Nav button.activeClass {
	border-bottom-color: $off-black;
}

.menuButton {
	background: none;
	border: none;
	font-size: $l;
	color: $off-black;
	padding: $xxs;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 101;

	&:hover {
		cursor: pointer;
		color: $darker-grey;
		transition: color 0.2s ease-in-out;
	}

	@media screen and (min-width: ($breakpoint-tablet + 1)) {
		display: none;
	}
}

.popover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(241, 236, 234, 0.95);
	transition: background 0.5s ease-in-out;
	z-index: 100;

	button {
		color: $off-black;
		background: none;
		border: none;
		font-size: $s;
		padding: 0.5rem 0;

		&:hover {
			cursor: pointer;
			color: $darker-grey;
			transition: color 0.2s ease-in-out;
			border-bottom: 1px solid $dark-grey;
		}
	}
}

.popover.Home {
	background-color: $lightest-nav;
}

.popover.About {
	background-color: $light-nav;
}

.popover.Experience {
	background-color: $medium-nav;
}

.popover.Projects {
	background-color: $dark-nav;
}

.popover.Contact {
	background-color: $darkest-nav;
}

.sectionsList {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.sectionsListItem {
	padding: 0.8rem 0;
}

.dark {
	&.Nav.Home {
		background-color: $d-lightest;
	}

	&.Nav.About {
		background-color: $d-light;
	}

	&.Nav.Experience {
		background-color: $d-medium;
	}

	&.Nav.Projects {
		background-color: $d-dark;
	}

	&.Nav.Contact {
		background-color: $d-darkest;
	}

	&.Nav button {
		color: $off-white;
	}

	&.Nav button:hover {
		cursor: pointer;
		border-bottom: 1px solid $light-grey;
	}

	&.Nav button.activeClass {
		border-bottom-color: $off-white;
	}

	&.popover.Home {
		background-color: $d-lightest-nav;
	}

	&.popover.About {
		background-color: $d-light-nav;
	}

	&.popover.Experience {
		background-color: $d-medium-nav;
	}

	&.popover.Projects {
		background-color: $d-dark-nav;
	}

	&.popover.Contact {
		background-color: $d-darkest-nav;
	}

	&.popover button {
		color: $off-white;
	}

	&.popover button:hover {
		cursor: pointer;
		border-bottom: 1px solid $light-grey;
	}

	&.menuButton {
		color: $off-white;
	}

	&.popover button:hover {
		cursor: pointer;
		color: $white;
	}
}
